#brdr{
    position: sticky;
    top:0px;
    max-width: 500px;
    border-style: dotted;
    border-style: dotted solid double dashed;
    border-width: 4px;
    border-color: chartreuse blue;
    border: 5px solid red;
   /*display: none;
   visibility: hidden;*/
}
#inrdiv{
    text-align: center;
}
#clr{
    height:70px;
    width:150px;
    box-sizing: border-box;
    overflow: visible;
    /*overflow: hidden;*/
    overflow: auto;
}

#bird1{
height: 150px;
width:200px;
float: left;
}