#outerBox {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 70%;
    position: absolute;
}

#green {
    width: 100%;
    height: 25%;
    background-color: rgb(177, 247, 177);
    margin-bottom: 5%;
}

#yellow {
    width: 30%;
    height: 50%;
    background-color: rgb(244, 244, 131);
    float: left;
    margin-right: 5%;
}

#red {
    width: 30%;
    height: 50%;
    background-color: rgb(248, 159, 159);
    float: left;
    margin-right: 5%;
}

.whiteBox>div {
    float: left;
    width: 25%;
    height: 25%;
    margin-left: 12%;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: white;
    text-align: center;
}

#blue {
    width: 30%;
    height: 80%;
    background-color: rgb(148, 219, 242);
    float: right;
}

#orange {
    width: 65%;
    height: 20%;
    background-color: rgb(252, 224, 170);
    float: left;
    margin-top: 5%;

}