.grid-container{
    display: grid;
    grid-template-areas: 'GREEN GREEN GREEN GREEN GREEN GREEN'
                         'YELLOW YELLOW RED RED BLUE BLUE'
                         'ORANGE ORANGE ORANGE ORANGE BLUE BLUE';
                             
     /* grid-template-rows: 100px 300px 100px; */
    /* grid-template-columns: auto auto auto; */
    /* background-color: cornflowerblue; */
    
    padding: 1em 5em;
    grid-gap: 10px;
    /* font-variant: ; */
}

.grid-container > div{
    border: 1px solid;
    text-align: center;
}
.grid-item1{
    grid-area: GREEN;
    background-color: greenyellow;
    padding: 2em;
}
.grid-item2{
    display: grid;
    grid-template-columns: auto auto;
    grid-area: YELLOW;
    background-color: yellow;
    padding: 2em;
    grid-gap: 5px;

}
.grid-item2 > div{
    background-color: white;
    padding: 10px;
}
.grid-item3{
    display: grid;
    grid-area: RED;
    background-color: red;
    grid-template-columns: auto auto;
    padding: 2em;
    grid-gap: 5px;
}
.grid-item3 > div{
    background-color: white;
    padding: 1px;
}
.grid-item4{
    grid-area: ORANGE;
    background-color: orange;
    padding: 2em;
    grid-gap: 10px;
}
.grid-item5{
    grid-area: BLUE;
    background-color: blue;
    padding: 2em;
}
