*{
    box-sizing: border-box;
}
body{
    background-color: pink;
}

.container{
    display: flex;
    width: 75%;
    flex-wrap:wrap;
    gap:2rem;
    margin: 2rem auto;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 2rem
}

.color{
    padding: 2rem 1.5rem;
    flex: 1;
}

.color > div {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.color>div>div{
background-color: grey;
padding: .5rem 2rem;
padding-bottom: 6rem;
}

#header{
    background-color: aqua;
    flex-basis: 100%;
    padding: 1rem;
}

#aside{
    background-color: aquamarine;
    padding: 8rem .1rem;
}

#article{
    background-color: red;
    padding: 5rem;
}

#footer{
    background-color: aqua;
    flex-basis: 100%;
    padding: 1rem;
}
