.container{
    /* display: inline; */
    display: flex;
    background-color: brown;
    /* flex-wrap: wrap;   */
    /* width: 300px; */
    /* height: 150px; */
    /* border: 1px solid; */
    /* flex-flow: column wrap; */

}
.container > div{
    background-color: burlywood;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 100px; */
     margin: 10px; 
     padding: 20px;
     /* flex-basis: 100px;  */
}

#one{
    order: 3;
    /* flex-grow: 3; */
}
#two{
    order: 5;
    flex-basis: 100px;
}
#three{
    order: 1;
    /* flex: shrink -1; */
}
#four{
    order: 2;
}
#five{
    order: 4;
    flex-shrink: 3;
}