.grid-container{
    display: grid;
    grid-template-areas: 'header header header header header header'
                         'menu main main main right right'
                         'menu footer footer footer footer footer';
    /* grid-template-rows: 100px 300px; */
    /* grid-template-columns: auto auto auto; */
    background-color: cornflowerblue;
    padding: .5em;
    grid-gap: 10px;
    font-variant: ;
}

.grid-container > div{
    background-color: blanchedalmond;
    /* border: 1px solid; */
    padding: 15px;
    text-align: center;
}
.grid-item1{
    grid-area: header;
}
.grid-item2{
    grid-area: menu;
}
.grid-item3{
    grid-area: main;
}
.grid-item4{
    grid-area: right;
}
.grid-item5{
    grid-area: footer;
}