#p1{
    text-transform: uppercase !important;
    text-align: center;
    direction: rtl;
    text-shadow: 3px 3px 2px rgb(25, 81, 177);
}
#header,h2{
    /*text-transform: uppercase !important;*/
    text-align: left;
    direction: rtl;
    text-shadow: 0px 0px 2px green;
}
#art1{
    text-align: justify;
    letter-spacing: 5px;
    line-height: 30px;
    word-spacing: 8px;
}
body{
    text-indent: 10px;
}
*{
    color:brown
}
.right{
    text-align: right;
}
.bold{
    font-weight: 900;
}
h1.right{
    color: coral;
}
div>p{
    text-transform: uppercase;
}
div>h3{
    color: aqua;
}
div+p{
    color: forestgreen;
}
ul~div{
    text-transform: uppercase;
}
p ~ ul{
    background-color: coral;

}
/*p + ul{
    background-color: coral;
}*/
a{
    display: block;
    display: inline;
}
a:active{
    background-color: chartreuse;
}

/*p::after{
    content: "  -this text is added from CSS";
}*/
a:hover{
    background-color: cornflowerblue;
}

p:first-child{
    color:brown;
}
p:nth-child(2n){
    color: brown;
}
p:nth-of-type(2n+1){
    color: brown;
}
p:nth-of-type(odd){
    color: brown;
}
#para1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-weight: lighter;
    font-variant: small-caps;
    font-size: 10vw;
}
#head4{
    font:Arial, sans-serif;
}


/*Assignment 2 styles*/
input:focus{
    background-color: darkgoldenrod;
}
a:visited{
    color: purple;
}

#ulid1 li::before{
    content: "\263A";
}
#pid1{
    font-size: 5vw;
}
#pid2{
    font-size: xx-large;
}