h1 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(95, 153, 240);
}

.grid-container {
    display: grid;
    background-color: white;
    padding: 2em;
    grid-gap: 10px;
    max-width: 1900px;
    grid-template-areas: 'Header Header Header Header Header Header'
        'col1 col1    col2 col2      col3 col3'
        'col4 col4    col4 col4      col3 col3';
}

.grid-container>div {
    padding: 5em;
    text-align: center;
}

.grid-item1 {
    grid-area: Header;
    background-color: rgb(92, 219, 92);
}

.grid-item2 {
    grid-area: col1;
    background-color: rgb(223, 223, 43);
}

.grid-item3 {
    grid-area: col2;
    background-color: rgb(224, 117, 117);
}

.grid-item4 {
    grid-area: col3;
    background-color: rgb(103, 145, 199);
}

.grid-item5 {
    grid-area: col4;
    background-color: rgb(221, 150, 19);
}

.sub-item {
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    text-align: center;
}

.col-elements {
    width: 40%;
    background-color: white;
    padding: 2em;
    margin: 0.5em;
}
