.luckyBoard{
    width: 500px;
    height: 250px;
    border: 8px dotted navy;
    padding: 50px;
    margin: 20px;
    margin-left: 18rem;
    margin-top: 5rem;
    /* align-content: center; */
}

.h2 > div{
    text-align: center;
    /* color: aquamarine; */
}