#calculator {
    display: grid;
    grid-template-areas:
        "input input input input"
        "one two three add "
        "four five six sub"
        "seven eight nine div"
        "clear zero equal mul";
        
    background-color: black;
    gap: 1em;
    width: 20em;
    padding: 1em;
    margin: auto;
}
#input {
    grid-area: input;
    background-color: white;
    font-size: 2em;
    text-align: right;
    padding: .25em;
    height: 1.5em;
}

.button {
    display: flex;
    background-color: white;
    font-weight: bold;
    justify-content: center;
    padding: .5em;
    font-size: 1.2em;
}

#b0 {
    grid-area: zero;
}

#b1 {
    grid-area: one;
}

#b2 {
    grid-area: two;
}

#b3 {
    grid-area: three;
}

#b4 {
    grid-area: four;
}

#b5 {
    grid-area: five;
}

#b6 {
    grid-area: six;
}

#b7 {
    grid-area: seven;
}

#b8 {
    grid-area: eight;
}

#b9 {
    grid-area: nine;
}

#clear {
    grid-area: clear;
}

#sub {
    grid-area: sub;
}

#add {
    grid-area: add;
}

#div {
    grid-area: div;
}

#mul {
    grid-area: mul;
}

#equal {
    grid-area: equal;
}